h1 {
  font-family: arial;
  text-align: center;
}

/* Device */
.container {
  width: 40%;
  padding: 30px;
  background: #d8d8d8;
  margin: 100px auto;
  position: relative;
  text-align: center;
  box-shadow:
    inset 0 0 10px 0 #888888,
    10px 10px 10px 0 #a8a8a8;
  border-radius: 20px
}

/* Pads */
.row-1, .row-2, .row-3, .row-4, .row-5 {
  background: #f0f8ff;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 8px;
  border-radius: 10px;
  box-shadow:
        inset 0 0 15px 0 #e2ffff,
    inset -3px -3px 0 0 #889999;
}

/* Mouse over shading */
.row-1:hover {
  background: #ccffff;
}
.row-2:hover {
  background: #ccffff;
}
.row-3:hover {
  background: #ccffff;
}
.row-4:hover {
  background: #ccffff;
}
.row-5:hover {
  background: #ccffff;
}







